@import url('https://fonts.googleapis.com/css?family=Muli');

* {
  box-sizing: border-box
}

body {
  background-color: #1E1F26;
  font-family: 'Muli', sans-serif
}

:focus {
  outline: none
}

/* ==-====-===-==== */

.container {
  width: 100%;
  height: auto
}

.box {
  width: 80%;
  height: 58px;
  background-color: rgb(43, 43, 43);
  margin: 20px auto;
  box-shadow: 0 2px 33px rgba(0,0,0,.77)
}

.search-bar {
  width: 55%;
  margin: 40px auto;
  line-height: 56px;
  position: relative
}

input[type="text"] {
  width: 89%;
  height: 33px;
  padding: 0 10px;
  color: #000;
  border: 1px solid #BEBEBE;
  border-radius: 2px 0 0 2px;
  z-index: 2
}

input:focus {
  border: 1.1px solid #1c62b9;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.4);
}

.butn {
  position: absolute;
  width: 11%;
  height: 33px;
  border: 1px solid #3d3d3d;
  border-left: 0;

  right: 0;
  border-radius: 0px 2px 2px 0;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  background-color: #353535;
  z-index: 1
}

button i {
  opacity: .5;
  transition: all .07s ease-in-out;
  color: #000;
}

button:hover i {
  opacity: .95
}

button:hover {
  background-color: #E4E4E4;
  box-shadow: 0 1px 1px rgba(0,0,0,.15),
    inset 0 0 2px rgba(0,0,0,.05);
  transition: all .07s ease-in-out
}

/* ==-====-===-==== */

h2 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
  text-shadow: 0 0 20px black;
  cursor: none;
  margin-top: 22px
}